<div class="bg">
    <header>
        <div class="main wrap">
            <h1><a href="/"><img alt="" src="assets/images/logo2.png" style="width: 40%; height: 30%;"></a></h1>
            <p style="margin-top: 4%;">VENDA, COMPRA E TROCA <span>(11) 91234-5678</span></p>
        </div>
        <nav>
            <ul class="menu">
                <li class="current">
                    <a class="home" href="/"><img alt="" src="assets/images/home.jpg"></a>
                </li>
                <li>
                    <a href="/estoque">Estoque</a>
                </li>
                <li>
                    <a href="/financiamento">Dúvidas e Financiamento</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
            <div class="clear"></div>
        </nav>
    </header>  

<section id="content">
    <div class="sub-page">
      <div class="sub-page-left box-9">
        <h2>Dúvidas ou Financiamento</h2>
        <p>PARA CONSULTAR A APROVAÇÃO DE FINANCIAMENTO, PASSAR OS SEGUINTES DADOS:<br>
          - NOME COMPLETO;<br>
          - CPF;<br>
          - DATA DE NASCIMENTO.</p>
        <form id="form" method="post" action="#">
          <fieldset>
            <label>
              <input type="text" value="Nome" onBlur="if(this.value=='') this.value='Name'" onFocus="if(this.value =='Name' ) this.value=''">
            </label>
            <label>
              <input type="text" value="Email" onBlur="if(this.value=='') this.value='Email'" onFocus="if(this.value =='Email' ) this.value=''">
            </label>
            <label>
              <input type="text" value="Telefone" onBlur="if(this.value=='') this.value='Phone'" onFocus="if(this.value =='Phone' ) this.value=''">
            </label>
            <label>
              <textarea onBlur="if(this.value==''){this.value='MESSAGE'}" onFocus="if(this.value=='MESSAGE'){this.value=''}">Dados Solicitados</textarea>
            </label>
            <div class="btns"><a href="#" class="button" onClick="document.getElementById('form').submit()">Enviar</a></div>
          </fieldset>
        </form>
      </div>
      <div class="sub-page-right">
        <h2>Financeiras Parceiras</h2>
        <div class="map">
          <img src="assets/images/Bancos-Carros-1.png" style="width: 100%; height: 100%;">
        </div>
        <dl class="adr">
          <dt>Trabalhamos com as melhores taxas do mercado! Faça uma consulta!<hr>
            Kaspper Motors<br>
          </dt>
        </dl>
      </div>
    </div>
  </section>
  <footer>Kaspper Motors &copy; 2023 </footer>
</div>

