<div class="container">

    <h1>Cadastro de Vendas</h1>

<form>
    <div class="mb-3">
        <label for="Carro Vendido" class="form-label">Carro Vendido</label>
        <input type="text" class="form-control" id="nome" name="nome">
    </div>

    <div class="mb-3">
      <label for="Comprador" class="form-label">Comprador</label>
      <input type="text" class="form-control" id="comprador" name="comprador">
    </div>

    <div class="mb-3">
        <label for="Data/Hora Venda" class="form-label">Data/Hora Venda</label>
        <input type="date" class="form-control" id="dataVenda" name="dataVenda">
    </div>

    <div class="mb-3">
        <label for="Valor Vendido" class="form-label">Valor Vendido</label>
        <input type="number" class="form-control" id="valorVenda" name="valorVenda">
    </div>

    <button type="Enviar" class="btn btn-primary">Enviar</button>
  </form><br><br>
</div>

