<div class="bg">
    <header>
        <div class="main wrap">
            <h1><a href="/"><img alt="" src="assets/images/logo2.png" style="width: 40%; height: 30%;"></a></h1>
            <p style="margin-top: 4%;">VENDA, COMPRA E TROCA <span>(11) 91234-5678</span></p>
        </div>
        <nav>
            <ul class="menu">
                <li class="current">
                    <a class="home" href="/"><img alt="" src="assets/images/home.jpg"></a>
                </li>
                <li>
                    <a href="/estoque">Estoque</a>
                </li>
                <li>
                    <a href="/financiamento">Dúvidas e Financiamento</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
            <div class="clear"></div>
        </nav>
    </header>    
    <section id="content">
        <div class="sub-page">
        <div class="sub-page-left box-9">
            <h2 class="p4">Price List</h2>
            <table>
            <tr>
                <th>&nbsp;</th>
                <th>Duis autem vel</th>
                <th>At vero eos et</th>
                <th>Consetetur sadip</th>
            </tr>
            <tr>
                <td>At vero eos et</td>
                <td>eum iriure dolor in</td>
                <td>accusam et justo</td>
                <td>scing elitr, sed</td>
            </tr>
            <tr>
                <td>accusam et justo</td>
                <td>hendrerit in vulpu</td>
                <td>duo dolores et ea </td>
                <td>diam nonumy </td>
            </tr>
            <tr>
                <td>duo dolores et ea </td>
                <td>tate velit esse </td>
                <td>rebum. Stet clita </td>
                <td>eirmod tempor </td>
            </tr>
            <tr>
                <td>rebum. Stet clita</td>
                <td>molestie conse</td>
                <td>kasd gubergren, </td>
                <td>invidunt ut labore</td>
            </tr>
            <tr>
                <td>kasd gubergren,</td>
                <td>quat, vel illum</td>
                <td>no sea takimata </td>
                <td>et dolore magna </td>
            </tr>
            <tr>
                <td>no sea takimata</td>
                <td>dolore eu feugiat </td>
                <td>sanctus est Lorem </td>
                <td>aliquyam erat, sed </td>
            </tr>
            <tr>
                <td>sanctus est</td>
                <td>nulla facilisis at </td>
                <td>ipsum dolor sit</td>
                <td>diam voluptua. At</td>
            </tr>
            <tr>
                <td>Lorem ipsum</td>
                <td>vero eros et</td>
                <td>amet. Lorem ipsum</td>
                <td>vero eos et</td>
            </tr>
            <tr>
                <td>dolor sit amet.</td>
                <td>accumsan et iusto</td>
                <td>dolor sit amet,</td>
                <td>accusam et justo</td>
            </tr>
            </table>
        </div>
        <div class="sub-page-right">
            <h2 class="p3">Most Popular</h2>
            <p class="upper p5"><a href="#" class="link">Product name #1</a><br>
            Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
            <p class="upper p5"><a href="#" class="link">Product name #2</a><br>
            Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
            <p class="upper"><a href="#" class="link">Product name #3</a><br>
            Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
            <a href="#" class="button-2 top-1">Read More</a> </div>
        </div>
    </section>
    <footer>
        Kaspper Motors &copy; 2023
    </footer>
</div>
