<div class="container">

    <h1>Cadastro de Clientes</h1>

<form>
    <div class="mb-3">
        <label for="Nome Completo" class="form-label">Nome Completo</label>
        <input type="text" class="form-control" id="nome" name="nome">
    </div>

    <div class="mb-3">
      <label for="Cpf" class="form-label">Cpf</label>
      <input type="text" class="form-control" id="marca" name="marca">
    </div>

    <div class="mb-3">
        <label for="Telefone" class="form-label">Telefone</label>
        <input type="tel" class="form-control" id="telefone" name="telefone">
    </div>

    <div class="mb-3">
        <label for="E-mail" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>

    <div class="mb-3">
        <label for="Logradouro" class="form-label">Logradouro</label>
        <input type="text" class="form-control" id="logradouro" name="logradouro">
    </div>

    <div class="mb-3">
        <label for="Número" class="form-label">Número</label>
        <input type="number" class="form-control" id="numero" name="numero">
    </div>

    <div class="mb-3">
        <label for="Complemento" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="complemeto" name="complemeto">
    </div>

    <div class="mb-3">
        <label for="Cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" name="cidade">
    </div>

    <div class="mb-3">
        <label for="Estado" class="form-label">Estado</label>
        <input type="text" class="form-control" id="estado" name="estado">
    </div>

    <div class="mb-3">
        <label for="País" class="form-label">País</label>
        <input type="text" class="form-control" id="pais" name="pais">
    </div>

    <div class="mb-3">
        <label for="Anexo CNH" class="form-label">Anexo CNH</label>
        <input type="file" class="form-control" id="anexoCNH" name="anexoCNH">
    </div>

    <button type="Enviar" class="btn btn-primary">Enviar</button>
  </form><br><br>
</div>
