<div class="bg">
    <header>
        <div class="main wrap">
            <h1><a href="/"><img alt="" src="assets/images/logo2.png" style="width: 40%; height: 30%;"></a></h1>
            <p style="margin-top: 4%;">VENDA, COMPRA E TROCA <span>(11) 91234-5678</span></p>
        </div>
        <nav>
            <ul class="menu">
                <li class="current">
                    <a class="home" href="/"><img alt="" src="assets/images/home.jpg"></a>
                </li>
                <li>
                    <a href="/estoque">Estoque</a>
                </li>
                <li>
                    <a href="/financiamento">Dúvidas e Financiamento</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
            <div class="clear"></div>
        </nav>
    </header>

<div id="slider">
    <div class="slider-block">
        <div class="slider">
            <ul class="items">
                <li>
                    <img alt="" src="assets/images/carro1e.jpg" style="box-sizing: content-box;">
                    <div class="banner">
                        <div>
                            <span>Honda Civic</span><strong style="font-size: 150%;">1.5 Turbo Touring Automático Cinza 2020</strong>
                            <p>KM: 45.000</p>
                            <hr>
                            Combustível: Gasolina
                            <hr>
                            Câmbio: Automático
                            <hr>
                            Final de placa: 6
                            <hr>
                            R$142990.00
                            <p></p><a class="button" href="/estoque" style="margin-top: 10%;">Estoque</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img alt="" src="assets/images/carro2.jpg">
                    <div class="banner">
                        <div>
                            <span style="font-size: 300%;">Renault Captur</span><strong style="font-size: 150%;">1.6 Intense Automática Branco 2021</strong>
                            <p>KM: 55.000</p>
                            <hr>
                            Combustível: Flex
                            <hr>
                            Câmbio: Automático
                            <hr>
                            Final de placa: 7
                            <hr>
                            R$90990.00
                            <p></p><a class="button" href="/estoque" style="margin-top: 10%;">Estoque</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img alt="" src="assets/images/carro3.jpg">
                    <div class="banner">
                        <div>
                            <span style="font-size: 270%;">Chevrolet Cruze</span><strong style="font-size: 150%;">1.4 Turbo LTZ II Automático Branco 2019</strong>
                            <p>KM: 33.000</p>
                            <hr>
                            Combustível: Flex
                            <hr>
                            Câmbio: Automático
                            <hr>
                            Final de placa: 6
                            <hr>
                            R$100990.00
                            <p></p><a class="button" href="/estoque" style="margin-top: 10%;">Estoque</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div><a class="prev" href="#"></a> <a class="next" href="#"></a>
    </div>
</div>
<section id="content">
    <div class="block-1 box-1">
        <div>
            <img alt="" src="assets/images/carro4.jpg">
            <p class="text-1" style="font-size: 150%;">Jeep Renegade <strong style="font-size: 60%;">1.8 Sport Automático Branco 2021</strong></p>
            <p class="text-1" style="font-size: 100%;">R$84.990,00</p>
            <p></p>
        </div>
        <div>
            <img alt="" src="assets/images/carro5.jpg">
            <p class="text-1" style="font-size: 150%;">Fiat Strada <strong style="font-size: 60%;">1.4 Endurance Prata 2021</strong></p>
            <p class="text-1" style="font-size: 100%;">R$80.990,00</p>
            <p></p>
        </div>
        <div>
            <img alt="" src="assets/images/carro6.jpg">
            <p class="text-1" style="font-size: 150%;">Renault Kwid <strong style="font-size: 60%;">1.0 Zen Laranja 2019</strong></p>
            <p class="text-1" style="font-size: 100%;">R$42.990,00</p>
            <p></p>
        </div>
        <div class="last">
            <img alt="" src="assets/images/carro7.jpg">
            <p class="text-1" style="font-size: 150%;">Fiat Palio Weekend <strong style="font-size: 60%;">1.8 Adventure Prata 2015</strong></p>
            <p class="text-1" style="font-size: 100%;">R$48.990,00</p>
            <p></p>
        </div>
        <div>
            <a class="button" href="/estoque" style="margin-left: 175%;">Estoque</a>
        </div>
    </div>
    <div class="block-2 wrap pad-2">
        <div class="box-2">
            <h2 class="clr-1">Clientes satisfeitos</h2>
            <div class="comments">
                <div>
                    “Atendimento nota 1000! Carros novos e com preços justos!”
                    <div class="comments-corner"></div>
                </div><a href="#">Cristiano Alves</a>
            </div>
            <div class="comments">
                <div>
                    “Vendedores muito atenciosos! Troco meus carros com eles há anos!”
                    <div class="comments-corner"></div>
                </div><a href="#">Maria Bezerra</a>
            </div>
        </div>
        <div class="box-3">
            <h2 class="clr-1">Nosso Endereço</h2>
            <div class="wrap">
                <ul class="list-1 last">
                    <li>
                        <a href="#"><iframe allowfullscreen height="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.8291668289185!2d-46.554430425818275!3d-23.717793867355745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4183119c6969%3A0xdbb97a2add101b72!2sR.%20Jo%C3%A3o%20Pedro%20Roquetti%2C%2070%20-%20Centro%2C%20S%C3%A3o%20Bernardo%20do%20Campo%20-%20SP%2C%2009720-200%2C%20Brazil!5e0!3m2!1sen!2sus!4v1693181509236!5m2!1sen!2sus" style="border:0;" width="400"></iframe></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<footer>
    Kaspper Motors &copy; 2023
</footer>
</div>
