<div class="container">

    <h1>Cadastro de Carros</h1>

<form>
    <div class="mb-3">
        <label for="Tipo de Veiculo" class="form-label">Tipo de Veículo</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Escolha</option>
            <option value="1"> Hatch</option>
            <option value="2">Sedã</option>
            <option value="3">SUV</option>
            <option value="4">Picapes</option>
            <option value="5">Crossover</option>
            <option value="6">Perua </option>
            <option value="7">Minivan</option>
            <option value="8">Esportivo</option>
            <option value="9">Furgão</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="Tipo de Veiculo" class="form-label">Marca</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Escolha</option>
            <option value="1">Audi</option>
            <option value="2">BMW</option>
            <option value="3">Chevrolet</option>
            <option value="4">Ford</option>
            <option value="5">Honda</option>
            <option value="6">Hyundai</option>
            <option value="7">Kia</option>
            <option value="8">Mazda</option>
            <option value="9">Mercedes-Benz</option>
            <option value="10">Nissan</option>
            <option value="11">Subaru</option>
            <option value="12">Tesla</option>
            <option value="13">Toyota</option>
            <option value="14">Volkswagen</option>
            <option value="15">Volvo</option>
        </select>
    </div>

    <div class="mb-3">
      <label for="Marca" class="form-label">Marca</label>
      <input type="text" class="form-control" id="marca" name="marca">
    </div>

    <div class="mb-3">
        <label for="Modelo" class="form-label">Modelo</label>
        <input type="text" class="form-control" id="modelo" name="modelo">
    </div>

    <div class="mb-3">
        <label for="Ano de Fabricação" class="form-label">Ano de Fbricação</label>
        <input type="date" class="form-control" id="anoFabricacao" name="anoFabricacao">
    </div>

    <div class="mb-3">
        <label for="Ano do Modelo" class="form-label">Ano do Modelo</label>
        <input type="date" class="form-control" id="anoModelo" name="anoModelo">
    </div>

    <div class="mb-3">
        <label for="Cor" class="form-label">Cor</label>
        <input type="text" class="form-control" id="cor" name="cor">
    </div>

    <div class="mb-3">
        <label for="Combustível" class="form-label">Combustível</label>
        <input type="text" class="form-control" id="combustivel" name="combustivel">
    </div>

    <div class="mb-3">
        <label for="Quilometragem" class="form-label">Quilometragem</label>
        <input type="number" class="form-control" id="quilometragem" name="quilometragem">
    </div>

    <div class="mb-3">
        <label for="Placa" class="form-label">Placa</label>
        <input type="text" class="form-control" id="placa" name="placa">
    </div>

    <div class="mb-3">
        <label for="Renavam" class="form-label">Renavam</label>
        <input type="number" class="form-control" id="renavam" name="renavam">
    </div>

    <div class="mb-3">
        <label for="Valor da Compra" class="form-label">Valor Da Compra</label>
        <input type="text" class="form-control" id="valorCompra" name="valorCompra">
    </div>

    <div class="mb-3">
        <label for="Cliente Vendedor" class="form-label">Cliente Vendedor </label>
        <input type="text" class="form-control" id="clienteVendedor" name="clienteVendedor">
    </div>

    <div class="mb-3">
        <label for="Data/Hota Entrada" class="form-label">Data/Hora Entrada </label>
        <input type="date" class="form-control" id="dataEntrada" name="dataEntrada">
    </div>

    <div class="mb-3">
        <label for="Anexo de Documentos" class="form-label">Anexo de Documentos</label>
        <input type="file" class="form-control" id="anexodoc" name="anexodoc">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form><br><br>
</div>