<div class="bg">
    <header>
        <div class="main wrap">
            <h1><a href="/"><img alt="" src="assets/images/logo2.png" style="width: 40%; height: 30%;"></a></h1>
            <p style="margin-top: 4%;">VENDA, COMPRA E TROCA <span>(11) 91234-5678</span></p>
        </div>
        <nav>
            <ul class="menu">
                <li class="current">
                    <a class="home" href="/homesis"><img alt="" src="assets/images/home.jpg"></a>
                </li>
                <li>
                    <a href="/cadastrocarros">Cadastro Carros</a>
                </li>
                <li>
                    <a href="/listacarros">Carros</a>
                </li>
                <li>
                    <a href="/cadastroclientes">Cadastro Clientes</a>
                </li>
                <li>
                    <a href="/listaclientes">Clientes</a>
                </li>
                <li>
                    <a href="/cadastrovendas">Cadastro Vendas</a>
                </li>
                <li>
                    <a href="/listavendas">Vendas</a>
                </li>
                <li>
                    <a href="">Sair</a>
                </li>
            </ul>
            <div class="clear"></div>
        </nav>
    </header>  
    <section id="content">
        <div class="sub-page">
        <div class="sub-page-left box-9">
            <h2 class="p4">Cadastro de Clientes</h2>
            <div class="container">


                <form>
                    <div class="mb-3">
                        <label for="Nome Completo" class="form-label">Nome Completo</label>
                        <input type="text" class="form-control" id="nome" name="nome">
                    </div>
                
                    <div class="mb-3">
                      <label for="Cpf" class="form-label">CPF</label>
                      <input type="number" class="form-control" id="marca" name="marca">
                    </div>

                    <div class="mb-3">
                        <label for="Logradouro" class="form-label">Logradouro</label>
                        <input type="text" class="form-control" id="logradouro" name="logradouro">
                    </div>

                    <div class="mb-3">
                        <label for="Número" class="form-label">Número</label>
                        <input type="number" class="form-control" id="numero" name="numero">
                    </div>

                    <div class="mb-3">
                        <label for="Complemento" class="form-label">Complemento</label>
                        <input type="text" class="form-control" id="complemeto" name="complemeto">
                    </div>
                
                    <div class="mb-3">
                        <label for="Cidade" class="form-label">Cidade</label>
                        <input type="text" class="form-control" id="cidade" name="cidade">
                    </div>
                
                    <div class="mb-3">
                        <label for="Estado" class="form-label">Estado</label>
                        <input type="text" class="form-control" id="estado" name="estado">
                    </div>
                
                    <div class="mb-3">
                        <label for="País" class="form-label">País</label>
                        <input type="text" class="form-control" id="pais" name="pais">
                    </div>
                
                
                    <div class="mb-3">
                        <label for="Telefone" class="form-label">Telefone</label>
                        <input type="tel" class="form-control" id="telefone" name="telefone">
                    </div>
                
                    <div class="mb-3">
                        <label for="E-mail" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                
                  
                   
                   <div class="mb-3">
                        <label for="Anexo CNH" class="form-label">Anexo CNH</label>
                        <input type="file" class="form-control" id="anexoCNH" name="anexoCNH">
                    </div>
                
                    <button type="Enviar" class="btn btn-primary">Enviar</button>
                  </form><br><br>
                </div>
                
        </div>
        </div>        
        
    </section>
    <footer>
        Kaspper Motors &copy; 2023
    </footer>
</div>













































